@mixin ghost-btn($color)  {
  @include button-variant($color, transparent, $color);

  .badge {
    color: $white;
    background-color: $color;
  }

  &:focus,
  &.focus {
    color: $white;
    background-color: $color;
    border-color: $color;
    .badge {
      color: $color;
      background-color: $white;
    }
  }
  &:hover {
    color: $white;
    background-color: $color;
    border-color: $color;
    .badge {
      color: $color;
      background-color: $white;
    }
  }
}
