@mixin form-control-X($color: $input-border-focus) {
  $color-rgba: rgba(red($color), green($color), blue($color), 1);
  &:focus {
    border-color: $color;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
  }
}