@mixin label-variant($color) {
	border:1px solid $color;
  	background-color: transparent;
  	color: $color;
  	border-radius: 20px;
  	padding: .2em 1em .3em;

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);

    }
  }
}
