// Overriddes de mixins y demas
body {
  // background: $brand-primary;
  font-weight: 400;
}

.ghost-default {
  @include ghost-btn($gray-light);
}
.ghost-primary {
  @include ghost-btn($brand-primary);
}
// Success appears as green
.ghost-success {
  @include ghost-btn($brand-success);
}
// Info appears as blue-green
.ghost-info {
  @include ghost-btn($brand-info);
}
// Warning appears as orange
.ghost-warning {
  @include ghost-btn($brand-warning);
}
// Danger and error appear as red
.ghost-danger {
  @include ghost-btn($brand-danger);
}

.btn-round {
  // @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include button-size($padding-base-vertical, ($padding-large-horizontal + 10px), $font-size-base, $line-height-base, $border-radius-btn);
}
label {
  font-weight: 600;
}
.form-control {
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
  }
  @include form-control-X;
}

.nav {
  &.nav-tabs {
    text-transform: uppercase;
    margin-bottom: 8px;
    li {
      a {
          position: relative;
          transition:all ease 0.3s;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 2px;
            background: $white;
            width: 100%;
            transition:all ease 0.4s;
          }
          &:hover {
            color:$now-third;
            background: transparent;
            border-color: transparent;
            &:after {
              background: $now-third;
            }
          }
      }
      &.active {
        a {
          &:after {
            background: $black;
          }
        }
      }

    }
 }
}


.label-default {
  @include label-variant($label-default-bg);
}

.label-primary {
  @include label-variant($label-primary-bg);
}

.label-success {
  @include label-variant($label-success-bg);
}

.label-info {
  @include label-variant($label-info-bg);
}

.label-warning {
  @include label-variant($label-warning-bg);
}

.label-danger {
  @include label-variant($label-danger-bg);
}

// estilos de la aplicación
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.bs-component {
    position: relative;
    .modal {
          position: relative;
          top: auto;
          right: auto;
          left: auto;
          bottom: auto;
          z-index: 1;
          display: block
    }
}
